<div class="collapse text-bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4>SKYSTORE</h4>
              <p class="text-body-secondary">
                Интернет магазин цифровой техники
              </p>
              </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4>Меню</h4>
              <ul class="list-unstyled">
                <li><a href="{% url 'catalog:home' %}" class="text-white">Главная</a></li>
                <li><a href="{% url 'catalog:product_list' %}" class="text-white">Каталог</a></li>
                <li class="dropdown">
                        <a href="#" class="text-white dropdown-toggle" id="categoryDropdown"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Категории
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="categoryDropdown">
                            {% for category in categories %}
                            <li>
                                <a class="dropdown-item" href="/products_by_category/{{ category.id }}/">
                                    {{ category.category_name }}
                                </a>
                            </li>
                            {% empty %}
                            <li><span class="dropdown-item-text text-secondary">Нет категорий</span></li>
                            {% endfor %}
                        </ul>
                </li>
                <li><a href="{% url 'catalog:contacts' %}" class="text-white">Контакты</a></li>
                <li><a href="{% url 'blog:posts_list' %}" class="text-white">Блог</a></li>
                <li>
                    <nav>
                        {% if user.is_authenticated %}
                            <span>Привет, {{ user.email }}!</span>
                            <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Выйти</button>
                            </form>
                        {% else %}
                            <a href="{% url 'users:login' %}">Войти</a>
                            <a href="{% url 'users:register' %}">Регистрация</a>
                        {% endif %}
                    </nav>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">

            <strong>Skystore</strong>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarHeader"
            aria-controls="navbarHeader"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>