{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <h5>Владелец {{ object.owner }}</h5>
                        <button type="submit" class="btn btn-primary">
                            {% if object %}
                            Сохранить
                            {% else %}
                            Добавить
                            {% endif %}
                        </button>


                            <a href="{% url 'catalog:product_confirm_delete' product.pk %}">
                              <button
                                type="button"
                                class="btn btn-sm btn-outline-secondary"
                              >
                                Удалить
                              </button>
                            </a>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}