{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
      <div style="display: flex; justify-content: flex-end;">
        <a href="{% url 'catalog:product_update' product.id %}">
            <button
                type="button"
                class="btn btn-sm btn-outline-secondary"
            >
            Редактировать
            </button>
        </a>
      </div>
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="{{ object.product_image | media_filter }}" height="200">
                <div class="card-body">
                    <h3>{{ object.product_name }}</h3>
                    <h5>Цена: {{ object.price }}</h5>
                  <p class="card-text">
                      {{ object.description }}
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        onclick="history.go(-1)"
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        <i class="bi bi-arrow-left"></i> Назад
                      </button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}